* {
    font-family:'calibri';
    
}


:root {
    --mint: #53be92;
    --cream: #dfdeb9;
    --dark: #2e2d2d;  
 
}

body {
position: relative;
background-color: var(--cream);
;
}



header {

color: aliceblue;
background-color: #afae7e;
text-align: left; 

}

footer {
    background-color: var(--mint);
    color: var(--dark);
    text-align: center;
    height: 100px;
    justify-content: center;
    border: solid black;
}





p {
    margin:0%;  
}
    

.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


nav {
    text-align: right;
    background-color: var(--dark);
    border: solid #dfdea2;
  
   

}

nav > ul > a {
    color: var(--cream);
    margin:10px;
    
}





#about-me {
  background-color:#c5c48f; 
    border:solid #afae7e; 
    margin:10px;
    display: inline,flex;
    float:left;
}

#about-me > p {
    color:aquamarine;
    text-align: center;
}


#about-me > h2 {
    color: pink;
    text-align: center;
}

#about-me > img {
    border-radius: 100%;
}

.abouttext {
    color: black;
    font-size: 20px;
}




.work {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    justify-content: center;
    background-color:var(--dark) ;
    border: solid black;
    
}


.workheader{
    color: var(--cream);
    text-align: center;
    
}


#work {
    color: black;
    margin: 10px;
    display: inline-flex;
    text-align: center;
    

    
}



img {
    margin: 20px;
    position: flex;
    border: solid black;
    box-shadow: 10px 5px 5px grey;
    
    
}







.contact {
    background-color: var(--dark);
    color: grey;
    text-align:center;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border: solid black;
    
}

.contact > h2 {
    color: var(--cream);
    padding:0%;
}

#contact {
    text-align: center;
}

#contact > a {
    color: var(--cream);
    font-size: 24px;
    margin: 20px 90px;
    padding: 20px 90px ;  
   
}

