* {
    font-family:'calibri';
}


:root {
    --mint: #53be92;
    --cream: #dfdea2;
    --dark: #2e2d2d;  
 
}

body {
position: relative;
background-color: rgb(245, 245, 159);
;
}

header {
background-color: rgb(115, 216, 115);
color: aliceblue;
border: solid black;
}

footer {
    background-color: rgb(80, 80, 250);
    color: yellow;
    text-align: center;
    height: 100px;
    justify-content: center;
    border: solid black;
}

p {
    margin:0%;  
}
    




nav {
    text-align: right;
    background-color: lightblue;
    border: solid black;
   

}

nav > ul > a {
    color: orange;
    
}






#about-me {
    background-color: rgb(228, 158, 210); 
    border:solid black;
}

#about-me > p {
    color:aquamarine;
}


#about-me > h2 {
    color: pink;
}

#about-me > img {
    border-radius: 100%;
}








.work {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    justify-content: center;
    background-color:rgb(223, 223, 223) ;
    border: solid black;
}


.workheader{
    color: olivedrab;
    text-align: center;
}

#work {
    color: palevioletred;
    background-color: rgb(151, 126, 165);
    border: solid black;
    margin: 10px;
}

img {
    margin: 20px;
    position: flex;
    border: solid black;
    box-shadow: 10px 5px 5px grey;
}







.contact {
    background-color: rgb(112, 170, 165);
    color: grey;
    text-align:center;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border: solid black;
    
}

.contact > h2 {
    color: red;
    padding:0%;
}

#contact {
    text-align: center;
}

#contact > a {
    color: green;
    font-size: 24px;
    margin: 20px 90px;
    padding: 20px 90px ;  
   
}

