* {
    font-family: Poppins, serif;
    list-style:none;
    
}


:root {
    --mint: #53be92;
    --cream: #fffee8;
    --dark: #242422;  
 
}

body {
position: relative;
background-image: linear-gradient(to right, #242422, #5f5f5f);
/* background-repeat: none; */

}



header {

color: #aaaaaa;
text-align: left; 
font-size: 50px;
position: relative;



}

footer {
    background-color: var(--dark);
    color: var(--cream);
    text-align: center;
    height: 100px;
    justify-content: center;
    
}


.profile {
    height: 400px;
    width:400px;
}


p {
    margin:0%;  
}
    

.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 750px;
    align-items: center;
    top: 10px;
    position: relative;

}

.projectimage {
    width: 534px;
    height: 251px;
}

.nav {
    text-align:right;
    background-color: var(--cream);
    display:flex;
    justify-content: space-between;
    height:100px;
    font-size: 24px;
    align-items: center;
    background-image: linear-gradient(to right, #242422, #5f5f5f, #adadad);
    position: relative;
}

nav > ul > a {
    color: var(--dark);
    margin:2rem;
    text-decoration: none;
    text-underline-offset: 1rem;
  
    
}

nav > ul > a:hover {
    text-decoration: underline;
}


#about-me {
  background-color: #585757;
    border: outset #000000; 
    margin:10px;
    display: inline, flex;
    float:left;
    box-shadow: 10px 10px 5px rgb(36, 36, 36);
    border-radius: 5%;
    background-image: linear-gradient(to right, #242422, #5f5f5f);
    transition: 1.0s;
    
    
    
}
#about-me:hover {
    transform: rotateY(6.24rad);
    transition: 1s;
}

#about-me > p {
    color:aquamarine;
    text-align: center;
}


#about-me > h2 {
    color: pink;
    
}

#about-me > img {
    border-radius: 100%;
    box-shadow: none;
    border: none;
}

#about-me > img:hover {
    opacity: 1;

}
.abouttext {
    color: var(--cream);
    font-size: 20px;
    list-style: none;
    /* margin: 0 500px; */
    
   
}

html {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
}


.work {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    justify-content: center;
    /* background-color: var(--cream); */
    /* border: solid black; */
    position: relative;
    
    
}

.firstwork {
    display: inline-block;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
   
    background-color: var(--cream);
    border: solid black;
    position: relative;
    color: var(--dark);
    /* background-image: linear-gradient(to bottom right, var(--cream), #adadad, #1f1f1f); */
    background-image: linear-gradient(to bottom right, #242422, #adadad, #242422);
    box-shadow: 10px 10px 5px rgb(36, 36, 36);
    
}

.firstwork > p {
    color: black;
}

.workheader{
    color: var(--cream);
    text-align: center;
    
}


#work {
    color: var(--cream);
    margin: 10px;
    display: inline-block;
    text-align: center;
    position: relative;
    

    
}

nav > h1.title {
   justify-content: left;
}


img {
    margin: 20px;
    position: flex;
    border: solid black;
    box-shadow: 10px 10px 5px rgb(36, 36, 36);
    backface-visibility: hidden;
}


img:hover {
    opacity: .5;
    transition: 0.5s;
}


.firstwork > p {
    color: var(--cream);
}

 p {
    color: var(--cream);
 }
.contact > p {
    color: var(--dark);
}


.contact {
    background-color: var(--cream);
    color: grey;
    text-align:center;
    height: 275px;
    /* padding: 20px; */
    /* margin: 20px; */
    border: solid var(--dark);
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right, #a3a286, #fffee8); */
    background-image: linear-gradient(to right, #242422, #adadad, #242422);
    
    
}

.contact > h2 {
    color: var(--dark);
    padding:0%;
}

#contact {
    text-align: center;
    
}

#contact > a {
    color: var(--dark);
    font-size: 24px;
    margin: 20px 90px;
    text-decoration: none;
    margin: 10rem;
    

}

#contact > a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

